    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- Header -->
    <header class="bg-gray-900 border-b-2 border-amber-400 sticky top-0 z-50">
        <div class="container mx-auto px-6 py-4">
            <nav class="flex justify-between items-center">
                <div>
                    <a href="/" class="flex items-center">
                        <img src="/assets/gfx/Logo.png" alt="The Ledger Logo" class="h-28 w-auto">
                    </a>
                </div>
                <ul class="flex space-x-8">
                    <li><a href="/" class="text-lg hover:text-amber-400 transition-colors duration-300">Home</a></li>
                    <li><a href="/archive/" class="text-lg hover:text-amber-400 transition-colors duration-300">Archive</a></li>
                </ul>
            </nav>
        </div>
    </header>